<h2>Departments</h2>
<h3>Buscar por el id: </h3>
<input [(ngModel)]="buscarId">

@if (loading) {
    <div>Cargando...</div>
}

@if (error) {
    <div>{{ error }}</div>
}

@if (!loading && !error) {
    <ul>
    @for (department of departments; track department.id) {
        @if(!buscarId || department.id === buscarId){
            <h3>Id: <strong>{{ department.id }}</strong></h3>
            <li>Name: <strong>{{ department.name }}</strong></li>
            <li>Description: <strong>{{ department.description }}</strong></li>
            <li>Manager Name: <strong>{{ department.managerName }}</strong></li>
            <li>Created At: <strong>{{ department.createdAt }}</strong></li>
        }
    }
    </ul>
}
