<div class="header">
    <h2>DEPARTMENTS</h2>
    <input class="get-button" [(ngModel)]="buscarId" placeholder="Buscar por el id">
    <button class="post-button" (click)="agregarDepartamento()">Agregar departamento</button>
</div>

<div class="contenedor">
@if (loading) {
    <div>Cargando...</div>
}

@if (error) {
    <div>{{ error }}</div>
}

@if (!loading && !error) {
    <ul>
    <div class="contenedor-departments">
    @for (department of departments; track department.id) {
        @if(!buscarId || department.id === buscarId){
        <div class="contenedor-individual">
            <h3>Id: <strong>{{ department.id }}</strong></h3>
            <li>Name: <strong>{{ department.name }}</strong></li>
            <li>Description: <strong>{{ department.description }}</strong></li>
            <li>Manager Name: <strong>{{ department.managerName }}</strong></li>
            <li>Created At: <strong>{{ department.createdAt }}</strong></li>

            <button class="delete-button" (click)="eliminarDepartamento(department.id)">Eliminar</button>
            <button class="put-button" (click)="editarDepartamento(department.id)">Editar</button>
        </div>
        }
    }
    </div>
    </ul>
}
</div>
