ul {
  background: rgb(255, 185, 177);
  padding: 20px;
}

ul li {
  background: mistyrose;
  color: darkred;
  padding: 10px;
  margin-left: 20px;
}

h3, h2{
  color: rgb(51, 2, 2);
  padding: 10px;
  margin-left: 20px;
}