ul {
  background: rgb(115, 204, 226);
  padding: 20px;
}

ul li {
  background: rgb(187, 230, 255);
  color: rgb(35, 24, 138);
  padding: 10px;
  margin-left: 20px;
}

h3, h2{
  color: rgb(3, 4, 68);
  padding: 10px;
  margin-left: 20px;
}