<nav mat-tab-nav-bar [tabPanel]="tabPanel" class="navbar">
  <a
    mat-tab-link
    routerLink="/"
    routerLinkActive
    [routerLinkActiveOptions]="{ exact: true }"
    #rlaHome="routerLinkActive"
    [active]="rlaHome.isActive"
  >
    Home
  </a>

  <a
    mat-tab-link
    routerLink="/recipes"
    routerLinkActive
    #rlaRecipes="routerLinkActive"
    [active]="rlaRecipes.isActive"
  >
    Recetas
  </a>

  <a
    mat-tab-link
    routerLink="/chefs"
    routerLinkActive
    #rlaChefs="routerLinkActive"
    [active]="rlaChefs.isActive"
  >
    Cocineros
  </a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>