* {
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    background-color: rgb(146, 154, 255);
    
}

.footer-list{
    display: flex;
    justify-content: center;
}

.footer-item {
    display: flex;
    color: rgb(0, 0, 0);
    padding: 20px;
}