.footer {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4b1e0f;
}

.footer-content {
  color: #f6d2b8;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  font-family: "Poppins", sans-serif;
}